<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">I'm a passionate producer and full time nerd, with a love of film, exploring new creative pursuits, and I've even run a few D&D campaigns in the past. I've got experience running teams, taking projects from initial conception to publishing on Itch and Steam, always with a focus on maintaining healthy and flexible practices. I'm experienced with Git, Jira, Trello, Unity, as well as Agile and Scrum theory and methodology. I've also started my own studio, Glass Nomad Games, to publish games made throughout University.
</p>
<p class="text-faded">
I'm graduating from Falmouth University in 2022, and am actively looking for Junior or Graduate Producer roles where I can learn and grow, as well as being available as a freelance Producer or Programmer. If any of this sounds like I could be a good fit for you or your company, please don't hesitate to get in touch!
</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
