<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Harry Donovan - Producer, Programmer</h1>
            <hr>
            <p>I am an avid programmer and passionate producer, with a strong knowledge of version control using Git,
                agile methodology, and an excitement for facing new, interesting challenges. I have lead teams which
                have published to both Itch and Steam, always with a focus on maintaining healthy and flexible working
                practices. My ideal position would be a Graduate/ Junior Producer role, with a strong focus on growing
                my skills and experience so I could progress to a more senior position.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>