<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{page.header}}</h1>
            <h2>{{page.subheader}}</h2>
            <h3>{{page.subsubheader}}</h3>
            <hr>
            <p> {{page.para}}
            </p>
            <a href="{{page.test}}" class="btn btn-primary btn-xl page-scroll">About Me</a>
            <a href="https://github.com/HDonovan96/Resume/raw/dev/resume.pdf" class="btn btn-primary btn-xl">Resume</a>
        </div>
    </div>
</header>