<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{page.header}}</h1>
            <h2>{{page.subheader}}</h2>
            <h3>{{page.subsubheader}}</h3>
            <hr>
            <p> {{page.para}}
            </p>
            {% if {{page.buttononelink}} and {{page.buttononetext}} %}
            <a href="{{page.buttononelink}}" class="btn btn-primary btn-xl page-scroll">{{page.buttononetext}}</a>
            {% endif %}
            {% if {{page.buttontwolink}} and {{page.buttontwotext}} %}
            <a href="{{page.buttontwolink}}" class="btn btn-primary btn-xl page-scroll">{{page.buttontwotext}}</a>
            {% endif %}
        </div>
    </div>
</header>