<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>People Focused</h3>
                    <p class="text-muted">The most important part of any team is the people, so a producer who
                        understands how to balance well being and deadlines is essential</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Organiser</h3>
                    <p class="text-muted">I've always been willing to step up and lead a team when it's needed, but
                        people flourish having agency. Knowing this, I prefer to focus on guiding and supporting teams
                        with practices, techniques, and software, rather than micromanaging individuals.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Driven</h3>
                    <p class="text-muted">My passion drives me, from starting a company in my second year of university,
                        publishing my teams' games through Itch and Steam, and now with more plans for publishing or
                        Transfuzer though my third year.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dedicated</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div> -->
</section>